<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 p-6 border border-surface rounded-3xl mb-6">
    @for (card of statusCards; track $index) {
    <div
        class="flex items-center gap-3 p-4 border border-surface rounded-xl shadow-[0px_1px_2px_0px_rgba(18,18,23,0.05)] bg-emphasis">
        <p-avatar [image]="'status-card-car.jpg'" class="rounded-lg overflow-hidden w-20 h-20"></p-avatar>
        <div class="flex-1">
            <div class="font-semibold leading-7">{{ card.count }}</div>
            <div class="text-muted-color text-sm mt-1">{{ card.status }}</div>
        </div>
        <i [ngClass]="{
        'text-green-500' : card.status === 'Running', 
        'text-yellow-500' : card.status === 'Idle', 
        'text-red-500' : card.status === 'Stopped',
        'text-blue-500' : card.status === 'Total',
        'text-gray-500' : card.status === 'Offline',
        '' : card.status === 'Never Connected',
        }" class="pi pi-map-marker cursor-pointer hover:animate-ping"></i>
    </div>
    }
</div>



<div class="grid grid-cols-1 md:grid-cols-10 gap-6">
    <!-- Left Column -->
    <div class="col-span-1 md:col-span-7">
        <div class="border border-surface rounded-2xl p-5">
            <app-generic-table 
                [data]="tableData" 
                [config]="tableConfig" 
                title="Vehicles" 
                [loading]="loading"
                [showActions]="false"
                [activeOnes]="activeOnes">
            </app-generic-table>
        </div>
    </div>

    <!-- Right Column -->
    <div class="col-span-1 md:col-span-3">
        <!-- Add explicit height and width for map rendering -->
        <div class="h-[400px] w-full relative">
            <!-- Ensure Leaflet container inherits full height/width -->
            <div
                class="absolute inset-0"
                leaflet
                [leafletOptions]="options"
                (leafletMapReady)="onMapReady($event)">
            </div>
        </div>
    </div>
</div>

