<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-2">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      @for (field of formFields(); track field.name) {
        <div class="mb-4">
          <label [for]="field.name" class="block text-sm font-medium text-gray-700 mb-1">
            {{ field.label }}
            @if (field.isRequired) {
              <span class="text-red-500">*</span>
            }
          </label>

          @switch (field.type) {
            @case ('text') {
              <input pInputText
                [id]="field.name"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="w-full"
              >
            }
            @case ('number') {
              <p-inputnumber class="w-full" [placeholder]="field.placeholder"  [formControlName]="field.name" [inputId]="field.name" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" [min]="0" [max]="100000" />
            }
            @case ('slider') {
              <div class="mt-4">
                <p-slider [animate]="true" [formControlName]="field.name" class="w-full" />
                <p-tag [value]="'Slided Value: ' + form.get(field.name)?.value" class="w-full" />
              </div>
            }
            @case ('email') {
              <input pInputText
                type="email"
                [id]="field.name"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="w-full"
              >
            }
            @case ('textarea') {
              <textarea pTextarea
                [id]="field.name"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="w-full"
                rows="3"
              ></textarea>
            }
            @case ('radio') {
              <div class="mt-2">
                @for (option of field.options; track option.name) {
                  <div class="flex items-center mb-2">
                    <p-radioButton
                      [inputId]="option.name"
                      [formControlName]="field.name"
                      [value]="option.name"
                    ></p-radioButton>
                    <label [for]="option.name" class="ml-3 text-sm font-medium text-gray-700">
                      {{ option.label }}
                    </label>
                  </div>
                }
              </div>
            }

            @case ('dropdown') {
            <app-generic-dropdown [id]="field.name" [type]="field?.dropdown?.apiEndpoint" [params]="dropdownParams[field.name]" [optionLabel]="field?.dropdown?.optionLabel"
              [placeholder]="field.placeholder || 'Select'" [autoFetch]="field?.dropdown?.autoFetch" [editMode]="editMode"
              [selectedValue]="form.get(field.name)?.value" [staticOptions]="field.options || []"
              (selected)="onDropdownSelect($event, field.name)" />
            }

            @case ('date') {
            <p-datepicker [id]="field.name" [formControlName]="field.name" [iconDisplay]="'input'" [showIcon]="true"
              inputId="icondisplay" [selectionMode]="field?.date?.selectionMode" [dateFormat]="field?.date?.dateFormat" styleClass="w-full" />
            }
            }

          @if (form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)) {
            <small class="text-red-500 block mt-1">{{ getErrorMessage(field.name) }}</small>
          }
        </div>
      }
    </div>
    <div class="mt-4 flex justify-end">
      <p-button type="submit" [label]="submitButtonText()" [disabled]="form.invalid" icon="pi pi-check-circle" iconPos="right"></p-button>
    </div>
  </form>